[submodule "Languages"]
	path = Languages
	url = https://github.com/sreegithub19/Languages.git
	branch = main
[submodule "Yoga"]
	path = Yoga
	url = https://github.com/sreegithub19/Yoga.git
    branch = main
[submodule "drawings"]
	path = drawings
	url = https://github.com/sreegithub19/drawings
    branch = main
[submodule "music"]
	path = music
	url = https://github.com/sreegithub19/music.git
	branch = main
[submodule "driving_license"]
	path = driving_license
	url = https://github.com/sreegithub19/driving_license.git
	branch = main
[submodule "films"]
	path = films
	url = https://github.com/sreegithub19/films.git
	branch = main
[submodule "marathons"]
	path = marathons
	url = https://github.com/sreegithub19/marathons.git
	branch = main
